/*FONT SHEET*/

@font-face { 
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;    
}

@font-face { 
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;    
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url('/fonts/bebas/Bebas-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  box-sizing: border-box;
}

/*css reset and font stuff*/

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'montserrat',sans-serif;
  font-size: .875rem;
  color: #3D405B;
}

/*css reset*/
body {
  padding: 0;
  margin: 0;
}


h1, h2, nav{
  font-family: 'bebas','montserrat',sans-serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 2rem;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.2;
  margin: 0;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
  margin: .5rem 0 0;
}

h3.abouttext {
  font-size: 200%;
}

@media screen and (min-width: 600px){
  h3.abouttext {
    font-size: 250%
  }
}
p {
  margin: 0 0 1rem;
}


/*NAV*/

/*logo*/
.logo {
  width: 50px
 } 

nav .logo {
 display: block;
 float: left;
 padding: 1rem 2rem;
}

/*nav states*/
a {
 color: #3D405B;
 text-decoration: none;
}

a:hover {
 color:#73818d;
 text-decoration: none;
}

/*nav style*/
nav {
 height: 80px;
 font-size: 1.4rem;
 position: fixed;
 width: 100%;
 background-color: #f7ede2;
 z-index: 99;
}

/*menu not stacking vertical*/
ul.menu li {
  display: inline-flex; 
  margin-right: 12px;
  font-size: 1.7rem;
  line-height: 0;
}


ul.menu {
  float: right;
  padding: .3rem 1rem;
}


/*INTRO-FRONTPAGE*/

div.intro {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  background-color: #f7ede2;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.text {
  margin: 2.5rem;
}

.projects { 
  text-align: center;
  width: 100%;
}

/*PROJECTS HOMEPAGE*/

h4 {
  font-size: 2.6rem;
  color: #73818d;
  margin: 1.4rem 0 0;
  line-height: 1.2;
  }

.pinktext {
  font-style: italic;
  color: #B59C95;
  font-size: 1rem;
  margin: 0 0 .6rem 0;
}

.itemtext {
  font-size: 1rem;
  width: 300px;
  line-height: 1.7;
}

.containers {
  display: grid;
  justify-items: center;
  margin: 2rem 0 0;
}

.container:hover {
  opacity: .8;
}

@media screen and (min-width: 1050px) {
  .containers {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }
}


.item_description {
  position: relative;
  margin: 1.5rem 0 4rem;
}


/*RESUME & ABOUT FORMATTING*/

.resume,.about,.casestudy {
  margin: 0 2rem 1.8rem;
  padding: 5.5rem 0 0;
  line-height: 2;
  max-width: 600px;
}

div.center {
  display:flex;
  justify-content: center;
}

.resumetext {
  display: inline-block;
}

.dl {
  width: 30px;
  padding: 1.9rem .5rem 0;
}

/*about pic*/

.me {
  border-radius: 150px;
  padding: 1rem;
}

/*CASE STUDIES*/
.casestudyheader {
  text-align: center;
  font-size: 2.3rem;
}

.casetext {
  padding: 0 0 2rem;
  max-width: 600px;
}

.casephotos {
  padding: 0 0 1.5rem;
  max-width: 600px;
}

div.casetext > h3 {
  font-size: 1.5rem;
  line-height: 0rem;
  margin-top: 2rem;
  margin-bottom: 1.1rem;
}

/*GIFTSTER*/
.gif {
  height: 480px;
}

@media screen and (min-width: 600px){
  .gif {
    height: 500px;
  }
  .gifs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}



/*PROJECT-ARROWS*/

.left, .right {
  opacity: .6;
}

.left:hover, .right:hover {
  opacity: 1;

}

.arrow-l {
  position: fixed;
  left: 20px;
  width: 15px;
  bottom: 2rem;
}

div.left>p {
  position: fixed;
  bottom: 1.1rem;
  left: 3.1rem;
  font-size: 1rem;
  font-weight: bold;
}

.arrow-r {
  position: fixed;
  float: right;
  right: 15px;
  width: 28px;
  padding: 1rem 0;
  bottom: 1rem;
}

div.right>p {
  position: fixed;
  float: right;
  bottom: 1.2rem;
  right: 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.bottompad {
  position: relative;
  bottom: 3.5rem;
}

/*VIDEOS*/
@media screen and (min-width: 580px){
  video {
    width:600px;
    height: 400px;
  }
}

.teado {
  margin-top: 1rem;;
}

/*ART PAGE*/


.artgallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 1em;
  padding: 6rem 1rem 1rem;
}

@media screen and (min-width: 1000px){
  .artgallery {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

.art {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.art:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 2.5rem;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: fixed;
  top: 90px;
  right: 10px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 80vw;
  }
}



/*fix this so it doesn't repeat*/
.tea {
  margin: 0 2rem 1.8rem;
  padding: 5.5rem 0 0;
  line-height: 2;
  display: flex;
  justify-content: center;
}

/*GRIDS FOR LARGER SCREENS*/

@media only screen and (min-width:1250px){
  .grid {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    align-items: center;
  }
  .casestudyheader {
    font-size: 12rem;
    max-width: 600px;
    line-height: 1;
  }
  .oldmenu {
    margin: 2rem 0 0;
    padding-right: 2rem;;
  }
  .casetext {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  div.casetext > h3 {
    font-size: 2.5rem;
    margin: 2.5rem 0 1.8rem;
  }

  /*mei tea*/
  .leftprogress {
    grid-row-start: 3;
  }
  .menuprogress {
    grid-column-start: 2;
  }
  .finaldesign {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  /*giftster*/
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 85vh;
    justify-items: center;
    align-items: center;
  }
  .box1 {
    grid-column:1/3;
  }
  .taskflow2 {
    grid-column-start:2;
    grid-column-end: 3;
  }

  .lefttext {
    grid-row-start: 4;
  }

  /*TEADO*/
  .video {
    padding-left: 4rem;
  }

  /*artnews*/

  .artnewsvideos {
    height:70vh;
  }
  .artnewsimg {
    padding-right: 4rem;
  }

  .rightvideo {
    grid-column: 2/3;
  }
  .leftcasetext {
    grid-column: 1/2;
    grid-row-start: 3;
  }
  div.casetext > h4 {
    font-size: 6rem;
    margin: 2.5rem 0 1.8rem;
  }
  .leftstext {
    grid-column:1/2;
    grid-row: 5;
  }
}
